#slideShow, #slideShowMobile {
  position: absolute;
  top: 0;
  width: 100%;
}

#slideShowMobile {
  display: none;
}

.slideShowImg, .slideShowImgMobile {
  width: 100%;
  display: none;
}

#prevImg, #nextImg {
  cursor: pointer;
  position: absolute;
  top: 33vw;
  width: auto;
  height: 40px;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

#prevImg img, #nextImg img{
  height: 40px;
  width: 40px;
}

#nextImg {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.img1 {
  content: url("../img/aboutImg1.jpg");
}
.img2 {
  content: url("../img/aboutImg2.jpg");
}
.img3 {
  content: url("../img/aboutImg3.jpg");
}

#aboutPusher {
  height: 34vw;
}

#aboutText {
  width: 70%;
  margin: auto;

}

@media only screen and (max-width: 480px) {
  .img1 {
    content: url("../img/aboutImg1Mobile.jpg");
  }
  .img2 {
    content: url("../img/aboutImg2Mobile.jpg");
  }
  .img3 {
    content: url("../img/aboutImg3Mobile.jpg");
  }
  #prevImg, #nextImg {
    top: 50vw;
  }
  #aboutPusher {
    height: 46vw;
  }

}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slideLeft {
  position: absolute;
  animation: slideleft 0.4s
}

@keyframes slideleft{
  from {
    left:-500px;
    opacity:0
  }
  to {
    left:0;
    opacity:1
  }
}

.slideRight {
  position: absolute;
  animation: slideright 0.4s
}

@keyframes slideright{
  from {
    right: -500px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}





