h1 {
	margin-top: -2%;
}


.contact-container {
   margin: auto;
   margin-top: 15%;
   width: 80%;
   text-align: center;
}

/* find better name */ 
 
.contact-container .contactButton {
	display: inline-block;
    background-color: rgba(255,255,255, 0.9);
    color: black;
    border: 5px solid black;
    cursor: pointer; /* Pointer icon */
    padding: 10px 5px 10px 5px;
    height: 20%;
    width: 25%;
    margin: 0 2% 0 2%;
}



/* Add a background color on hover */
.contact-container .contactButton:hover {
    filter: invert(100%);
}

.contact-container img {
	height: 50px;
	width: 50px;
	vertical-align: middle;
	margin-right: 10px;
}

.contactButton {
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

@media screen and (max-width: 900px) {
	.contact-container .contactButton{
		display: block;
		margin-top: 5%;
		width: 50%;
		width: 90%;
		margin: 5% 2% 0 2%;
	} 
}
