html, body {
    padding: 0;
    margin: 0;
}

body { 
	font-family: stenciletta-left, sans-serif;
	background-image: -webkit-linear-gradient(rgba(145, 156, 212, 0.1), rgba(145, 156, 212, 0.2));
}

header, section, footer {
	width: 70%;
}

header {	
	margin: 5% auto;
}

section {
	margin: 4% auto;
	border-style: outset;
	border-width: 2px;
	border-radius: 5px;
	border-color: rgb(100,100,100);
}

h1, h2, h3, p, li, ul {
	text-align: left;
	margin: 2% 5%;
}

h1 {
	font-size: 3em;
	margin-bottom: 4%;
}

h2 {
	font-size: 1.8em;
	margin-top: 4%;
	margin-bottom: 4%;
}

h3 {
	font-size: 1.2em;
}

h3 > span {
	font-weight: normal;
	font-size: 0.6em;
}

p {
	padding: 5px;
}

a {
	text-decoration: none;
	font-style: italic;
	color: inherit;
}

a:hover {
	opacity: 0.7;
}

ul {
	list-style-type: armenian;
}

img {
	display: block;
	max-width: 80%;
	margin: 1% auto;
	border-radius: 10%;
}

figcaption {
	font-size: 0.7em;
	text-align: center;
}

footer {
	margin: 0 auto;
	font-size: 0.6em;
}