#logo {
  width: 150px;
  height: 276px;
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#poster {
  display: none;
}

@media only screen and (max-width: 940px){
  #poster {
    display: block;
    top: 0;
    height: 100%;
    width: auto;
    position: absolute;
  }
  #skyer {
    display: none
  }
}
video {
  height: 1080px;
  width: 1920px;
  transform: translate(0,-100px);
}

#videoContainer {
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#wingman {
  display: none;
  z-index: 1;
  height: 50px;
  width: 80px;
  position: absolute;
  margin-left: 60px;

}
